<!-- consultar/video.jinja2 -->

{% extends "_base.jinja2" %}

{% block nav_title %}STREAMING{% endblock %}
{% block title %}Consultar{% endblock %}

{% block content %}

<h2 class="text-center" style="margin-bottom: 20px;">
    Consultar Video
</h2>

{{ macros.render_table(cabecalho, dados) }}

<form class="text-center" action="{{ api_atualizar }}" method="get">

    {{ macros.render_input("Atualizar por ID:", "text", "id", "") }}

    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>

<form class="text-center" style="margin-top: 15px;" action="{{ api_apagar }}" method="post">

    {{ macros.render_input("Apagar por ID:", "text", "id", "") }}

    <button type="submit" class="btn btn-danger">Apagar</button>
</form>

{% endblock %}