<!-- cadastrar/video.jinja2 -->

{% extends "_base.jinja2" %}

{% block nav_title %}STREAMING{% endblock %}
{% block title %}Cadastrar Video{% endblock %}

{% block content %}

<h2 class="text-center" style="margin-bottom: 20px;">
    Cadastro de Vídeo
</h2>

<form class="text-center" action="{{ api }}" method="post">
    {{ macros.render_input("Ano:", "number", "ano", "") }}
    {{ macros.render_input("Titulo:", "text", "titulo", "") }}
    {{ macros.render_input("Sinopse:", "text", "sinopse", "") }}
    {{ macros.render_input("Duracao:", "time", "duracao", "") }}
    {{ macros.render_select("Classificacao:", "id_classificacao", classificacoes, "") }}

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}